### Gradle ###
.gradle/
build/

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
/.idea/inspectionProfiles/Project_Default.xml

### Claude Code ###
.claude/settings.local.json