### Gradle ###
.gradle/
build/

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
/.idea/inspectionProfiles/Project_Default.xml

### Keystore ###
src/main/resources/keystore.p12

### Tests ###
trace.zip

### Claude Code ###
.claude/settings.local.json